RewriteEngine on
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.antalyarp\.me$ [NC]
RewriteRule ^(.*)$ https://www.antalyarp.me/$1 [L,R=301]
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]
RewriteCond %{THE_REQUEST} /([^.]+)\.xml [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.xml -f
RewriteRule ^ %{REQUEST_URI}.xml [NC,L]
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]
ErrorDocument 400 https://www.antalyarp.me/error
ErrorDocument 401 https://www.antalyarp.me/error
ErrorDocument 402 https://www.antalyarp.me/error
ErrorDocument 403 https://www.antalyarp.me/error
ErrorDocument 404 https://www.antalyarp.me/error
ErrorDocument 500 https://www.antalyarp.me/error
ErrorDocument 501 https://www.antalyarp.me/error
ErrorDocument 502 https://www.antalyarp.me/error
ErrorDocument 503 https://www.antalyarp.me/error
ErrorDocument 504 https://www.antalyarp.me/error